.vscode/launch.json
node_modules
server/__pycache__/config.cpython-37.pyc
server/__pycache__/functions.cpython-37.pyc
server/__pycache__/model.cpython-37.pyc
server/routes/__pycache__/user.cpython-37.pyc
...
